html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

.game{
    width: 500px;
    height: 500px;
    margin: 10px auto 0;
    background-color: gray;
    color: white;
    border: 6px solid black;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game > div{
    border: 6px solid black;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game > div:hover {
    background: rgb(167, 167, 167);
}

.bt{
    display: flex;
    justify-content: center;
}

.btstart {
    width: 400px;
    height: 80px;   
    background-color: gray;
    color: black;
    font-size: 2em;
    font-weight: bold;
    border: 6px solid black;
    border-radius: 4px;
    margin: 15px auto 0;
    cursor: pointer;
}

.btstart:hover {
    background-color: rgb(167, 167, 167);
}

.btstart:active {
    /* transform: translateY(4px); */
    transform: scale(0.97);
}

@keyframes textIncrease {
    0% {
        font-size: 0em;
    }
    
    100% {
        font-size: 4em;
    }
}

@keyframes textDecrease {
    0% {
        font-size: 4em;
    }
    
    100% {
        font-size: 0em;
    }
}

@keyframes backgroundWinner {
    0% {
        background-color: gray;
    }

    100% {
        background-color: rgb(91, 91, 230);
    }
}

.position-clicked {
    animation-name: textIncrease;
    animation-duration: 0.5s;
}

.game > div.winner {
    background-color: rgb(91, 91, 230);
    animation-name: backgroundWinner;
    animation-duration: 0.5s;
}
